@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fff;
    color: #333;
    background-color: #2A2B30;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0,0,0, 0.4);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    vertical-align: top;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    padding-top: 70px;
    padding-bottom: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 15px;
    
}
.col-1 {width: calc(8.3333% - 30px); }
.col-2 {width: calc(16.6666% - 30px); }
.col-3 {width: calc(25% - 30px); }
.col-4 {width: calc(33.3333% - 30px); }
.col-5 {width: calc(41.6666% - 30px); }
.col-6 {width: calc(50% - 30px); }
.col-7 {width: calc(58.3333% - 30px); }
.col-8 {width: calc(66.6666% - 30px); }
.col-9 {width: calc(75% - 30px); }
.col-10 {width: calc(83.3333% - 30px); }
.col-11 {width: calc(91.6666% - 30px); }
.col-12 {width: calc(100% - 30px); }


.category-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: #3d3f45;
    border: 1px solid black;
    cursor: pointer;
    
}

.img-category{
    padding: 5px;
    border-radius: 20px;
    height: 100px;
    
}

.category-name{
    padding-top: 10px;
    color: white;
    font-weight: 900;
    text-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    
}


.category-description{
    font-size: 13px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.linear-category {
    width: 100%;
    border: none;          /* Убираем стандартное оформление */
    height: 2px;           /* Устанавливаем высоту линии */
    background-color: rgb(33, 33, 33); /* Устанавливаем цвет линии */
}

.loading-menu{
    color: white;
    font-weight: 500;
}

.footer-block {
    border-top: 1px solid hwb(0 100% 0%);
    width: calc(100%); 
    position: absolute;
    bottom: 0px; 
    height: auto;
    background-color: #45474d;
    
    
    
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.footer-text{
    font-weight: 800;
    font-size: 18px;
}

.footer-text-active{
    font-weight: 800;
    font-size: 18px;
    color: white;
}


.active{
    color: white;
}


.logo{
    margin-right: 10px;
    width: 60px;
    height: 100%;
}

.Header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid hwb(0 100% 0%);
}


.shop-name{
    color: #fff;
}

.categories{
    padding-top: 15px;
}