@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fff;
    color: #333;
    background-color: #2A2B30;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0,0,0, 0.4);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    vertical-align: top;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    padding-top: 70px;
    padding-bottom: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 15px;
    
}
.col-1 {width: calc(8.3333% - 30px); }
.col-2 {width: calc(16.6666% - 30px); }
.col-3 {width: calc(25% - 30px); }
.col-4 {width: calc(33.3333% - 30px); }
.col-5 {width: calc(41.6666% - 30px); }
.col-6 {width: calc(50% - 30px); }
.col-7 {width: calc(58.3333% - 30px); }
.col-8 {width: calc(66.6666% - 30px); }
.col-9 {width: calc(75% - 30px); }
.col-10 {width: calc(83.3333% - 30px); }
.col-11 {width: calc(91.6666% - 30px); }
.col-12 {width: calc(100% - 30px); }


.category-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: #3d3f45;
    border: 1px solid black;
    cursor: pointer;
    
}

.img-category{
    padding: 5px;
    border-radius: 20px;
    height: 120px;
    
}

.category-name{
    padding-top: 10px;
    color: white;
    font-weight: 900;
    text-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    
}


.category-description{
    font-size: 13px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}
.linear-category {
    width: 100%;
    border: none;          /* Убираем стандартное оформление */
    height: 2px;           /* Устанавливаем высоту линии */
    background-color: rgb(33, 33, 33); /* Устанавливаем цвет линии */
}

.linear2{
  width: 100%;
    border: none;          /* Убираем стандартное оформление */
    height: 2px;           /* Устанавливаем высоту линии */
    background-color: white; /* Устанавливаем цвет линии */
}

.loading-menu{
    color: white;
    font-weight: 500;
}

.footer-block {
  
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  background-color: #45474d;
  z-index: 100; /* Опционально */
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%; /* Ensures full width */
    height: 100%;
    flex-direction: column;
    cursor: pointer;
}




.footer-text{
    font-weight: 800;
    font-size: 18px;
}

.footer-text-active{
    font-weight: 800;
    font-size: 18px;
    color: white;
}


.active{
    color: white;
}


.logo{
    margin-right: 10px;
    width: 60px;
    height: 100%;
}

.Header{
    display: flex;
    align-items: center;
    padding: 20px;
    
}


.shop-name{
    color: #fff;
}

.categories{
    padding-top: 5px;
    padding-bottom: 100px;
}



.categories-name{
    color: white;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    margin: 0px auto;
    background-color: #6258AA;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button-back:hover{
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    color: #222; /* Более темный текст при наведении */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transform: scale(1.05); /* Слегка увеличиваем кнопку */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.col-footer{
    transition: background-color 0.3s ease, color 0.3s ease;
    

}

.col-footer:hover {
      /* Change this to your desired hover background color */
    color: black; /* Change this to your desired hover text color */
  }
  

.username{
    color: white;
}

.profile-conteiner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 100px;
   align-items: center; 
   
}

.profile{
    display: flex;
    padding-top: 15px;
    width: 100%;
    margin-bottom: 15px;
    
}


.profile-userinfo2{
    width: 45%;
    border: 1px solid black;
    padding: 15px;
    margin: auto 20px;
    background-color: #45474d;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.username{
    font-size: 20px;
    padding-bottom: 5px;
}

.balance-container{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance-text{
    font-size: 19px;
    padding-bottom: 5px;
    color: white;
   
}



.row-balance{
    display: flex;
    align-items: center;
    
}

.balance-count{
    font-size: 18px;
    font-weight: 600;
    color: white;
}



.Orders{
    width: 70%;
    height: 60px;
    border: 1px solid black;
    margin: 0px auto;
    margin-bottom: 15px;
    background-color: #6258AA;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    cursor: pointer;
}

.orders-left{
    display: flex;

}

.orders-icon{
    margin-left: 20px;
}

.orders-text{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 3px;
    font-weight: 600;
    color: white;


}
.orders-right{
    margin-right: 20px;
}


.orders-text2{
    padding-top: 2px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;
}

.TopUp{
    width: 70%;
    height: 60px;
    border: 1px solid black;
    margin: 0px auto;
    margin-bottom: 15px;
    background-color: #6258AA;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Orders:hover{
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    color: #222; /* Более темный текст при наведении */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transform: scale(1.05); /* Слегка увеличиваем кнопку */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.TopUp:hover {
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    color: #222; /* Более темный текст при наведении */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transform: scale(1.05); /* Слегка увеличиваем кнопку */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}


.items-container{
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.item-container {
    
    width: 90%;
    align-items: center; /* Выравнивание элементов по началу */
    padding: 10px; /* Внутренние отступы для контейнера */
    border: 1px solid #ccc; /* Рамка для контейнера */
    border-radius: 7px; /* Закругленные углы */
    margin-bottom: 20px;
    background-color: #3d3f45;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
}
.item-container2 {
    
    
    align-items: center; /* Выравнивание элементов по началу */
    
}

.item {
    flex: 1;
    text-align: center;
    padding: 5px;
    /* Устранение overflow для item */
    overflow: hidden;
}

.item-text {
    flex: 1;
    white-space: normal;
    word-wrap: break-word;  /* Разрешаем разрывы слов для переносов */
    width: 100%; /* Задаем ширину 50% для текстового элемента */
    height: auto; /* Высота автоматически увеличивается */
    overflow: hidden; /* Скрываем переполненный текст */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст слишком длинный */
    color: white;
    
}

.item-price{
    color: white;
    font-weight: 500;
    
}

.vertical-divider {
    height: 40px;
    background-color: #6258AA;
    
}


.item-count{
    color: white;
    font-weight: 400;
}

.buy-save-container{
    display: flex;
    
    justify-content: space-between;
    padding-top: 5px;
}


.buy-button{
    border: 1px solid black;
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #6258AA;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.buy-button2{
    border: 1px solid black;
    width: 99%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #6258AA;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    cursor: pointer;
}


.Text-buy-button{
    color: white;
    margin: 5px;
    font-size: 15px;
}

.buy-button:hover{
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    color: #222; /* Более темный текст при наведении */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transform: scale(1.05); /* Слегка увеличиваем кнопку */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.buy-button2:hover{
    background-color: #e0e0e0; /* Светло-серый фон при наведении */
    color: #222; /* Более темный текст при наведении */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transform: scale(1.05); /* Слегка увеличиваем кнопку */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}


.buys-card{
    padding-top: 20px;
    margin: 10px;
}


.buy-date{
    display: flex;
    color: darkgrey;
}



/* 
.items-container2{
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    

} */

.linear3{
    width: 100%;
      border: none;          /* Убираем стандартное оформление */
      height: 2px;           /* Устанавливаем высоту линии */
      background-color: black; /* Устанавливаем цвет линии */
  }
  
.buy-description{
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}


.pre-container {
    height: auto;
    max-width: 100%;
    overflow-x: auto;
    color: white;
}
pre {

    white-space: pre-wrap; /* Изменяет поведение пробелов внутри <pre> */
    word-wrap: break-word; /* Перенос слов для длинных строк */
    font-size: 1.2em; /* Относительный размер шрифта */
    font-family: monospace; /* Моноширинный шрифт по умолчанию */
    padding: 10px;

}
